.App{
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
#btn :hover {
    background-color: #0056b3;
  }